* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus {
  outline: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  transition: background-color 5000s ease-in-out 0s;
}

input[autocomplete="off"]::-webkit-contacts-auto-fill-button,
input[autocomplete="off"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  height: 0;
  margin: 0;
  pointer-events: none;
  visibility: hidden;
  width: 0;
}

body,
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  font-family: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
    Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  font-size: 62.5%;
  font-style: normal;
  max-width: 100%;
  white-space: nowrap;
  width: 100%;
}

body {
  overflow-y: scroll;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  -webkit-user-drag: none;
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

div {
  -webkit-user-select: none;
  user-select: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  border-radius: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-transform: unset !important;
}

input,
textarea {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  pointer-events: auto;
}

img,
svg {
  -webkit-user-drag: none;
  vertical-align: center;
}

.translate-y-down {
  animation: translateydown 0.75s ease-in-out 1;
}

@keyframes translateydown {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.translate-y-up {
  animation: translateyup 0.75s ease-in-out 1;
}

@keyframes translateyup {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@keyframes easeinout {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30%);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-30%);
  }

  to {
    transform: translateY(0);
  }
}

#container {
  height: 40px;
  position: relative;
  width: 100%;
}

.photobanner-left {
  animation: bannermoveleft 25s linear infinite;
  display: flex;
  position: absolute;
}

@keyframes bannermoveleft {
  0% {
    transform: translate(-50%);
  }

  to {
    transform: translate(0);
  }
}

.photobanner-right {
  animation: bannermoveright 25s linear infinite;
  display: flex;
  position: absolute;
}

@keyframes bannermoveright {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(-50%);
  }
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div.MuiTooltip-tooltip {
  display: flex;
  min-width: 80px;
  width: fit-content;
  height: auto;
  font-family: unset;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px;
  border-radius: 4px;
  padding: 0px;
}

.headerHoverEffect {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(23, 60, 254);
    transform-origin: 0px 0px;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  }
  &:hover,
  &:focus {
    &:after {
      transform-origin: 0px 0px;
      transform: scaleX(1);
      backface-visibility: hidden;
    }
  }
}

.MuiButton-text span {
  font-family: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
    Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}
